HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OSX ###
.DS_Store

# All local .terraform directories
**/.terraform/*

# All .tfstate files
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

# All *.auto.tfvars files. NOTE There are allowed in a private repository
**/*.auto.tfvars

# Secrets var file
**/secret.tfvars

# ODT lock files
**/.~lock*

# Local secrets
/src/main/resources/local-env-local-pg.yml