language: java
jdk: openjdk17
script: 
  # Install latest version of Maven compatible with JDK 17. Use archives for permalink to fixed version
  - wget https://archive.apache.org/dist/maven/maven-3/3.8.5/binaries/apache-maven-3.8.5-bin.tar.gz -P /tmp
  - sudo tar xf /tmp/apache-maven-*.tar.gz -C /usr/local/bin/
  - export M2_HOME=/usr/local/bin/apache-maven-3.8.5
  - export PATH=${M2_HOME}/bin:${PATH}
  - mvn package
cache:
  directories:
    - "$HOME/.m2"
branches:
  only:
    - "/^(feature|bugfix)\\/(SCC|SCAT|CON|CAS|EI)-[0-9]+.*$/"
    - "/^(release)\\/.*$/"
    - "/^snyk-(upgrade|fix)-[a-z0-9]+$/"
    - develop
    - main

# Install dependencies
before_install:
  - sudo rm -Rf terraform_"$TF_VERSION"_linux_amd64.zip
  - sudo rm -Rf terraform
  - wget https://releases.hashicorp.com/terraform/"$TF_VERSION"/terraform_"$TF_VERSION"_linux_amd64.zip
  - unzip terraform_"$TF_VERSION"_linux_amd64.zip
  - sudo mv terraform /usr/local/bin/
  - rm terraform_"$TF_VERSION"_linux_amd64.zip

deploy:
  # SBX - modify CF_ENVIRONMENT as required
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=sbx2 bash ./deploy.sh
    on:
      all_branches: true
      condition: "${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH} =~ ^(feature|bugfix)\\/(SCC|SCAT|CON|CAS)-[0-9]+.*$ || ${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH} =~ ^snyk-(upgrade|fix)-[a-z0-9]+$"

  # DEVELOP
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=dev bash ./deploy.sh
    on:
      branch: develop

  # INT (SIT)
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=int bash ./deploy.sh
    on:
      branch: release/int

  # NFT
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=nft bash ./deploy.sh
    on:
      branch: release/nft


  # UAT
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=uat bash ./deploy.sh
    on:
      branch: release/uat

  # PRE
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=pre bash ./deploy.sh
    on:
      branch: release/pre      

  # PRD
  - provider: script
    skip_cleanup: true
    script: CF_ENVIRONMENT=prd bash ./deploy.sh
    on:
      branch: release/prd      

# WARNING! Do NOT use the --add flag of travis cli encrypt - it removes all formatting and comments
env:
  global:
    # ACCESS_KEY_ID
    - secure: "IcBhUWf52G8pGR1bhtFgh6SBBPkI8LsElVUoizLke44Sw+nRvgYa9MAvgDMlcydx/+rkONdK9QMA/FtUAuGX0Fe8g1dya6D8ysur6ZO8ayArjzz0L57LAmWNjK5KD+JJBsIad0wko30d/MSJ12Tg+0zSt+lpQsW6NP6jLiTMZWHmNLOZ4eRGKq14Tru6rdKgjeIh0+wE/8XGoGH/JJ3mO1364M3GuUsKeoNIMv1RLdKevcCoj8AmmjgJFx6SOrILnG+Aa0bWu7mQS97KhizkiOiKx1pR5ASZs1SdmcUTfnxRZLyY/4pU8e86p0TGrRRaA8fm0eniMmQn+5JHZdJrl7iH4QMETWcrQSbZtoNstzn8mJ16NN7MP/vTOOUeVN1V+uOV+WgeXFc7ZOJ1iew/KvBYRDZUi47w3u0qiYCoq3cA6xgs62YJQSk0A8QjJ4us81ppN1rwDSiRcKPVeOFNwkrd+zBPPF8cXmmptp8q8OfEIbMXWPQmnaJpqV6HKjfRHRubg/IKCW7Nq3SyrPwaG+J6j72blbpeq8tffiTpT1anYJxbraGZUlU8+0DOH5dESP/ApqJYLR2xH1n/PtqKAu3wOAzZOX10bxX0pckuwW2NjhSoRKHxCAFgW0MvXJK1Mqw7PU8kC0ki+qMlOBuCsUOYmjnd9kje+Lq6uB9FheI="
    # SECRET_ACCESS_KEY
    - secure: "lX2miuww+f3c9+5414EX5sPAwa26PXWQhRml5FyU9tk3zv+c8fK/jEznvoX//yBOJ25rY6NPp0PCz3A3yv/OLktt5bwU6AQ8nNHimlDKE/rsK0JacsYLlPMnvJmVwmxSupRkGhoCBFyMhIem0HzZJcQ0b67Q1Gn/bxAQXC7FMzsvKu6L5Ivo2QpWHxBgsY0wTQNL5nkD4ySPQk155KXiaTBs3yzKvL2vg0xY9syLGlTnxcb+XgcH+xTiwtLFCeEGo6oKSrd0amJYF6TNOKbfIl0V8aT+q0pUGJyCuTxFeUK1aj3LGXQ+cn3xT4I2Ut5myP7/0NsYCUf24gvV4rjGvtj0E+i0fI47r2xZ/hLBNysaTVcR/DiotHKLEtnjZm/2BtOvo0vewTmBQbe/oq5vdlyJLWldbesZMx2Fq0oGp7slhPBrYH9H1rnh+a9EdVTBCAO0Dv9sQePW9V3w1VGkYVW9QiTf5P8lDA8cDkrlv1+HlMeOfArbcokOq9lxtkhUSsZYyx1wphnIdUt1rmeePCsLVStiKrKMCbBP2mEx0keJMyFXR2EaA7tjyfZByMW5MWhfR0w2qd84PK7wR0K+LeMQ29Zj+i1rQBiwl1GZOuXongA4AketdcjxQI0xgk8RvMVXayquJaEfDrKmRTvUudfG499bWNkvOt34wGxEsj4="
    # S3_STATE_BUCKET_NAME
    - secure: "FbOlT9fo8E6nIdWIjLo7/nuwx340DH2YXO3hZF0+KdxEDcZC5V/KAF1x86qGcLkOlfaxbpqI4nQdWh/ATJRyZe3EU0HiOtTSGnOHdmpDdciHJaQyleoOAdkOcywyTOsPcRgO07NwgnncTY0JFGXI/A0alUxLSApSc0og09SHYK3mjP3uQaOjCQngZf3N55J/EzMQDpk7Fmr/QSx77eZn+m/90ZAT+xRus2JFNbxg56Uaj6e0KC60wgsctUI8KIVP/uKXO8t1q+3j1pBCGGCivR/Yd/a7YP1csj9Z0zKs1/DbB60OxOwr5ZcKAf9m8JN+E76ykW11CmHzQrwjnlFN5gGpJUkAM/AKPzaSP8vQoi7JmTdKSIysQzT7y3dsSMp0QhU5turna4AQ7kqSNCwQl5AQWuZqWw3HiU3cOby98+CMmfY1imCwxV888ByRvXIqzx+O4sS4G9F8tUjvhdddYMoB9PeY7OBYEwP5/on/w98s6JXFPrkdKRHJFub8zjSMYxwpbuYu/EJZWIeNzrqGCx18JF96+64Nj8YNsBwIo0PJ57dB9LajVKTgdwnbEEu7Zkk6xKQSCVIUUUwsT2eO34jVFACbGVR7mEDUioptVFXt8wmvX3ftOG39JQHypRy8uunpYk1G1U6qewYbIMiRrYdwNfvyBcVbeihbhh0SuJQ="
    # DDB_LOCK_TABLE_NAME
    - secure: "WfuCos2MaZwFiK+KDUFEkrmxeEJlAvr/KJ0jVv+4HBlWZtiNNeWB+0tbwpUfx/icjNSlW/wvk+FrFEJN6JhUlKXwvjNbLe6CRiBHk8LIhg9DizdPq80pVn5Qn9dAzQCKIn7/sD0uzhOK++LcBjaZPWHBsA6vV+HpBGBFrghPj6Jqe001dm/5fMs9iNCJmPvZyFFNSIh+GxapTyS19onNlLwD7ptuNOd9zMp8ArD0PAD2zOfbqk6FIp5j7Nc3OXa4+mbqW7fCMTOmLHdeli8mL0doo8bJXtv9uwmAb5aefOFBFk3SY/efjoZhCjn+cz24uNnM2pIe5lwFuUvZ0UmcZWp6J7vlPu4JVtto6vpSO7dvMYc1112z75MfksR8THXd5bbHwEEes8SV//X+CdDLJTd60UUqdIAy8kQuDGuGc1U8BF6wC+sSC7wqAqFk/oMOM03gK2XzBj5jQmeXW3fxnzfWoMS2wJNkhWFiF7k9+JIc/E4Y/81+OeJMS+7dMD0l1yQBAceaQPmbEUnrRpLsmfD2K8efjh7xGM2crGNpst/6w40aznDwc3brr+TYU5Z4HTzh09KZBfn+JJRqtxClqZLduLdn7JwUox9bi11ax3v4nQRQUpkB02LJL1+9wMD7ArkO7P8YNvoJb3iI1OgOI9P3EewtgCu/XkyOeYta5j4="
    # CF_USERNAME
    - secure: "OHs3wKC2q3XwGsO8Skqgk4SV4upXltiMPiAIHhTbMqOjSnPa2siOjmrFrkyZwT5gYe4YcENB9amV30GIgSpCkzzNbOPVTMF7tafK+8hXIrlvQuOXMx00zq2ry/XD/lQrxNBZFZlxOxV9mUlJ3bBCHnNwe8oEO6kAZxwmS8QXBhHvM1KKVL4LT/k9MFJQ/DbZEmFHyQByig9TkooTjUNYWgmPxRbP/6Yofkg/kNDUerhwU+PLStIKd61bJBwZbFTEy3hYWdwvjrox3RIhdzsFPREn1pJkNRcgEGQiULGcmpplPe3iAlMp9C48HgiPyK00MTvpiSlRSpO/fJMOFyyq/zn0oxS4f/MbfJ/9x0XQFFyJkns3ioHG6BlGV7A0GOOnvGclov9a3P/423hTvllwuN9sYv0iqpljVJUeJ3wsBhp+ALFZqkMhUltlkGH+ENH5fvtED/u4D5YA1lfogTJOc4C4qBDFC61QAWhyXoiVEaXcKvpSDYLqZUe6HDbFpY7DPIO4HoRiZw+xUaWkmxeymsCU8mQmFMQg6KwUmYXggP+BwGlaaWbbXwffG2yIl2K/JVhshWrzdHfy5wSBREPonkO50X7RROWYJd01zOhggLRybVWsGQyASNunzYAYVrWPoA48NSiCG5iTQrUMxMTzVfIPvRR0aL6eXCB6dbLSzFE="
    # CF_PASSWORD
    - secure: "g8KwewOWAx6KFlQbCYcTHVnQu3UhHjcMxEdxUO8Y/hlHyjvXNrYsVkvc6JXnS4aNER6otOs9+cl2DOGtAiwUTpHyR/kYgk+I/FaOCf7pEMSUIIw8JL6SckH4hqAZcR/z49IABvN1YRSPI7x4mW6OVxRQ/6eKGJByhj/dM1dZ2AMQ45+SbriXu6+8/iP/i2fjsSY6WZXROvf8foBkeRW59D8YVn9ZIaHP2JwN+EE2hUJukbakO0xrqO2lptDpkEs7L3FwwwcQ2mSQxF9N7puGqCvKSr+Lx/Fr4aQAU6+xrhn3eQ3svcP5eVr0tMZmDiV5y7neNXfInRvnj9x5W8QwN9frT2axqGE/MK8cJqfpLp6Q6hQ3NL19eOIVaWI6e3F3B70IPn16GqSEqkogwZvpCYWfPmwhW8f/2JdYc1jBACeCfYUJSHD1/qUikN8beQI2ImMJSVQZW/Su8grok6SjU8VAl/ICIibneMPvJ+CbyRx+hSBt2Z3x7A1XwLsMzYBkbK0m9ymAVemYL+A2xz6Y9Zyy7Agj/R/ZHM3sbGLig+eLviG/+7qY081zRtUtO4KsZKte1QpjkrsgTFoiCQIG4nkrd2KRdx8FhopUE9BbgNjk8VJMRVfJkEjgXLgNw2G6qWat+9RTH7xCCOdkx6FjZqU5Qz6RnitUEpKVcesIxDc="
    - TF_VERSION=1.0.5
