language: java
script: mvn package
cache:
  directories:
  - "$HOME/.m2"
branches:
  only:
  - feature/SINF-196_multi_env_config
  - develop
  
after_success: 
#- curl -L "https://cli.run.pivotal.io/stable?release=linux64binary&source=github" | tar -zx
- mkdir $HOME/cf-cli
- curl -L "https://packages.cloudfoundry.org/stable?release=linux64-binary&version=v7&source=github" | tar -zx -C $HOME/cf-cli
- export PATH=$PATH:$HOME/cf-cli
- chmod +x ./deploy.sh
  
deploy:
#  - provider: cloudfoundry
#    edge: true
#    api: https://api.london.cloud.service.gov.uk
#    organization: ccs-scale-cat    
#    space: sandbox
#    on:
#      branch: feature/SINF-185_cat_skeleton_api
#
#  - provider: cloudfoundry
#    edge: true
#    api: https://api.london.cloud.service.gov.uk
#    organization: ccs-scale-cat  
#    space: development
#    on:
#      branch: develop
      
  - provider: script
    script: CF_ROUTE_PREFIX=sbx- CF_SPACE=sandbox CF_RAM=1024M ./deploy.sh
    on:
      branch: feature/SINF-196_multi_env_config
      
  - provider: script
    script: CF_ROUTE_PREFIX=dev- CF_SPACE=development CF_RAM=1024M ./deploy.sh
    on:
      branch: develop
      
env:
  global:
  - secure: h/XLGdkQXNgSpkKkuDBMhf0sMKc6I/gMKfKoILpTlCFSUDmp+9qW3ltrbPi8Q8JZP5VBPsYSPjGFs9l0hEIXN+Bw6Fyaxdj0Opr3eGd55j2FsoPiDRnHImk4Ec9nX7aE4g3xz6tZkr8oPY3H0jtjKxVUS7tM0GQHzivH+z76duMaJ/8IrA60p/RnmEfXGe7LMaXU1Mz7vMjZZO90HkZnhoVIuvLZNaVnIUNFG3Pmcuq6mTEcRDgEzKllfdLbOM0RsHWe76rcMPp7s0TxfEZGTDX3xDgEHHQiHi8v2tK4I4ce4704LgPvOahCn1rj5qtO3X2B6HJkV7WrEMFLvI6RZ8so1tq1zE3MhRhxmIKcxUhe7iec1YifBwn5/sLMn5pA8bbSoXXRRhkY+eXAgfl3LJ+3qRAiiYgn6AKqCICLif7EW02kTyw1MMocwGWbLky5pN+aEvZI5XxuejZWuja/X392brH4qBJtIfPh2pjfp9IZyzrTp6WG02g0YxvUa4MtoOnEDmDm4d3bQwKN4oMHjS8Vblw5W6Z0Mi1XHaO5pF0c/XN3yWNxHFTOzbaohONBC1wIzRybX/HI0ELHixpoAiFi3xIQptDtY5C0SzWReR2VWbIzzL2DdfpYGAs/JAq1VAe3IhHLDAIaEN7yFkWrlDp3QMnhGkGJY5d6JahY99o=
  - secure: d0lw/XSURxDpEZMB6HrK7KqX3Eh8tPCeyCz15sO6MAhFr02XrLYbmU/T6agyn1WeGgG9FGQ8zKNATP+gv84pBwi1RWsSFJr4Qkjqzy0bGjPz63gbK7giwthIF6oh9G+l9cueTEQ4nX4+xgN0O2h+RTo49SjRXOTHIChtDisma1i0Np1wdanDaiJXC+VidB+n7cUiW5KNdGMpaNyTaPIkvc+R/bGv8YS3lc4whPGUdqXGd1TZ2IHHk3U9dmuU33vcncKraqcWQHs/ZafeaP+fkVCdT8OthbHtsAIWaeNUDVQ5i6SV75icXaeu/xoXDLWqAfjwUyLfWyZBY0UjnmA4oE/a15pC2QQxFnudbMqKEZXiec4KBhFasOjHGbYqk1cl0a2nuUHS7Ei/vLgtQfHyoYwPlqSh3qkYZPqwQTIXW0C+0s101adzOx5g0WzpdzzwaXRhc+A9pOmn4rnHIWTNfJ9uuaWx9i0sywkeJ6vETROWyH6+w2Oqrtex8uOb0b3yugAGHvT3ObIX4OQv1Z337jL6DCJfEV1dMA9c1UP3YMjo9KL9bdWynsGpNEB//flJPJOpjYqxNk2SEoUOyGNzklW63R4gN44EHLmks7I99RiETnttlf/iwyTFDDTYLIjlwE/N395hlKRgrN+TyDi6sm5+BLkZEIDbNNutFRcN9Iw=
