#spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          jwk-set-uri: "SET IN ENV"

          
logging:
  level:
    org:
      springframework:
        security: TRACE
        
# JAGGAER CONFIG
spring:
  security:
    oauth2:
      client:
        provider:
          jaggaer:
            token-uri: https://crowncommercialservice-ws02-prep.bravosolution.co.uk/esop/jint/api/public/v1/tokens 
        registration:
          jaggaer:
            authorization-grant-type: client_credentials
#            client-id: "SET IN ENV"
#            client-secret: "SET IN ENV"

config:
  external:
    jaggaer:
      base-url: https://crowncommercialservice-ws02-prep.bravosolution.co.uk
      createProject:
        endpoint: /esop/jint/api/public/ja/v1/projects
        templateId: project_609
      createEvent:
        endpoint: /esop/jint/api/public/ja/v1/rfxs/
        templateId: itt_543 
         